@use "uswds-core" as *;

html, 
body {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
}

img {
  height: auto;
}

iframe:focus, 
[href]:focus, 
[tabindex]:focus, 
[contentEditable=true]:focus {
  outline: 1px auto  color('blue-40v');
  outline-offset: 0.3rem;
}

.usa-app {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.usa-banner,
.usa-header,
.usa-footer {
  flex-grow: 0;
  flex-shrink: 0;  
}

#main-content {
  flex-grow: 1;
}

.usa-header {
  background: color('gray-cool-70');

  + main {
    border-top: none;
  }
}

.usa-logo {
  a {
    color: white;

    img {
      max-width: 184px;
    }

    @include at-media(desktop) {
      img {
        max-width: 100%;
      }
    }   
  }
}

.usa-nav__primary {
  > .usa-nav__primary-item {
      margin: units(2) units(1);

    > a {
      color: white;
      font-weight: 400;
      padding: units(1) units(1);

      &:hover {
        text-decoration: underline;
        color: white;
      }
    }
  }
}

.usa-hero {
  background: $theme-hero-image !important;
  box-shadow: -1px 60px 120px 25px rgba(0,0,0,0.95) inset;
  -webkit-box-shadow: -1px 60px 120px 25px rgba(0,0,0,0.95) inset;
  -moz-box-shadow: -1px 60px 120px 25px rgba(0,0,0,0.95) inset;

  h1 {
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: size('body', 11);
    line-height: lh('heading', 4);

    @include at-media(desktop) {
      font-size: size('heading', 12);
    }
  }

  .grid-container {
    max-width: 42rem;
  }

  .usa-hero__callout {
    margin: 1em auto;
    max-width: 100%;
    background: color('gray-cool-60');

    .grid-container {
      padding: 0;
    }

    .usa-form {
      max-width: 100%;

      .usa-legend {
        font-size: size('body', 8);
        max-width: 100%;
      }

      .usa-button {
        border-radius: 0;
        border: 1px solid white;
        background: color('green-60v');
        font-weight: 400;
        font-size: size('body', 7);
        line-height: line-height('body', 2);
        padding: units(1.5) units(1.5) units(1.5) units(5);    
        text-align: center;
        background: color('green-60v') url('../img/help-icon.svg')  no-repeat units(1) center; 
        width: 100%;
  
        @include at-media(desktop) {
          font-size: size('body', 5);
        }
      }
    }



    select,
    input {
      margin: 0;
    }

    select {
      padding: units(1.5);
      height: auto;
      line-height: line-height('body', 3);
    }

    label {
      margin-bottom: units(1);
    }
  }
}

.home-highlights {
  h2 {
    font-size: size('body', 12);
    font-family: font-family('serif');
    font-weight: normal;
    text-align: center;
    margin-top: 0px;
    color: white;
  }

  .usa-card__container {
    background: color('gray-cool-10');
    color: black;
    min-height: 206px;

    a,
    p,
    h3 {
      color: black;
    }

    h3 {
      font-family: font-family('sans');
      font-size: size('body', 10);
      text-align: center; 

      @include at-media(tablet) {
        text-align: left;  
      }
    }

    .usa-card__header, 
    .usa-card__body, 
    .usa-card__footer {
      margin-left: 0;

      @include at-media(tablet) {
        margin-left: 14rem;   
      }
    }

    .usa-card__img {
      background: none;
      padding: units(4);
  
      img {
        height: auto;
        -o-object-fit: unset;
        object-fit: unset;
        max-width: 40%;
        min-width: 140px;
        margin: 0 auto;

        @include at-media(tablet) {
          max-width: 100%;      
       }  
      }
    }
  
    .usa-card__media {
      z-index: 4;
    }

    .usa-card__header {
      padding-top: 0;
      padding-bottom: units(2); 

      @include at-media(tablet) {
        padding-top: units(4); 
        
     }    
    }

    .usa-card__body {
      ul {
        list-style: disc;
        padding-left: units(2);

        li {
          margin-bottom: units(2);
        }
      }
    }
  
    .usa-card__footer {
      position: relative;
      z-index: 5;
      margin: 0;
      text-align: center;
      padding-top: units(2);
  
      .usa-button {
        color: white;
        background: color('blue-cool-50');
        font-weight: 400;
        padding: units(2);
        border-radius: 0;
      }
    }
  }
}

.state-results-page {
  .usa-prose {
    > h1 {
      font-size: size('body', 10);
      font-weight: 600;
      color: color('blue-60v');
      margin-bottom: units(4);
      
      @include at-media(desktop) {
        font-size: size('body', 12);
      }
    }
  }

  h2 {
    font-size: font-size('body', 9);
    color: color('blue-60v');
    font-weight: 600;
  }

  h3 {
    font-size: font-size('body', 7);
  }

  h4 {
    font-size: font-size('body', 5);
    font-weight: 400;
    margin-bottom: units(1);
  }

  .usa-alert {
    .usa-alert__heading {
      color: black;
    }

    .usa-alert__body {
      padding-top: units(3);

      &:before {
        top: units(2.5);
      }
    }

    .usa-alert__text {
      margin-top: units(2);
      margin-bottom: units(2);
    }
  }

  .contentRow {
    .grid-container {
      padding-left: units(5);
    }
  }

  .usa-list {
    margin-top: units(1);
    margin-bottom: units(3);

    li {
      margin-bottom: units(1.5);
      max-width: 100%;
    }
  }

  .intro-section {
    h2 {
      color: black;
    }

    .image-block {
      text-align: center;
    }

    .usa-list {
  
      li {
        font-size: font-size('body', 3);
      }
    }

    border-bottom: units(2px) solid color('blue-10v');
  }

  .disclaimer-button {
    background: color('blue-warm-80v');
    font-weight: 500;
    line-height: line-height('body', 2);
    margin-top: units(2);

    @include at-media(desktop) {
      margin-top: 0;
    }
  }

  .usa-section {
    padding-top: units(4);
    padding-bottom: 0;
    margin-top: 0;
  }

  .usa-table {
    th[scope=row] {
      background: white;
    }

    th,
    td {
      padding: units(2);
    }
  }

  .usa-form {
    max-width: 100%;
    background: color('gray-warm-5');

    .usa-legend {
      width: 100%;
      max-width: 100%;
      border-bottom: units(2px) solid color('gray-30');
      padding-bottom: units(1);

      svg,
      span {
        vertical-align: top;
        font-size: size('body', 7);
      }
    }

    .location-section .usa-label,
    .site-preview-heading {
      font-weight: 600;
    }

    p {
      margin-top: units(3);
    }

    .usa-checkbox {
      background: none;
    }

    .usa-button {
      width: 100%;
    }
  }
}

.usa-footer {
  background: color('gray-cool-70');
  color: white;
  flex-shrink: 0;
  font-size: size('body', 5);

  h4 {
    font-size: size('heading', 5);
  }

  ul {
    li {
      a {
        color: white;
      }
    }
  }

  .last-column {
    margin-bottom: units(2);
  }

  .usa-logo {
    margin-top: units(2);
  }

}