<div class="usa-alert usa-alert--warning grid-container padding-x-0 margin-bottom-3">
  <div class="usa-alert__body">
    <h2 class="usa-alert__heading">Disclaimer</h2>
    <div class="usa-alert__text grid-row grid-gap">
      <div class="mobile:grid-col-12 tablet:grid-col-10">
        This website contains references to non-federal resources and organizations. The references are solely
        for informational purposes and are not an endorsement of any non-federal entity by FEMA, Department of
        Homeland Security, or the U.S. government.
      </div>
      <div class="mobile:grid-col-12 desktop:grid-col-2">
        <a href="#" class="usa-button disclaimer-button padding-y-2 bg-primary-darker">View full disclaimer</button>
      </div>
    </div>
  </div>
</div>