<aside class="usa-layout-docs-sidenav desktop:grid-col-3 mobile:grid-col-12 padding-bottom-4">
  <nav>
    <ul class="usa-sidenav">
      <li>
        <form class="usa-form padding-3" id="stateForm">
          <fieldset class="usa-fieldset">
            <legend class="usa-legend margin-bottom-1">
              <svg class="usa-icon margin-top-2px" aria-hidden="true" focusable="false" role="img">
                <use xlink:href="{{ '/assets/uswds/img/sprite.svg#filter_alt' | url }}"></use>
              </svg>
              <span class="display-inline-block">Filter Results</span>
            </legend>
            <section class="location-section">
              <label class="usa-label" for="state">
                Location
              </label>
              <select class="usa-select" id="state" name="state">
                <option value>- Select -</option>
                {% for item in csvData %}
                <option value="{{ item.Abbr | slug }}">{{ item.Abbr }} - {{ item.State }}</option>
                {% endfor %}
              </select>
            </section>
            <section class="support-type-section">
              <h4 class="site-preview-heading">Support Type</h4>
              <div class="usa-checkbox">
                <input class="usa-checkbox__input filter-checkbox" id="public-personnel" type="checkbox"
                  name="public-personnel" value="public-personnel" data-section-id="public-personnel-section" checked />
                <label class="usa-checkbox__label" for="public-personnel">Public personnel</label>
              </div>
              <div class="usa-checkbox">
                <input class="usa-checkbox__input filter-checkbox" id="private-companies" type="checkbox"
                  name="private-companies" value="private-companies" data-section-id="private-companies-section"
                  checked />
                <label class="usa-checkbox__label" for="private-companies">Private Companies</label>
              </div>
            </section>
            <section class="resource-level-section">
              <h4 class="site-preview-heading">Resource Level</h4>
              <div class="usa-checkbox">
                <input class="usa-checkbox__input filter-checkbox" id="state-territory" type="checkbox"
                  name="state-territory" value="state-territory" data-section-id="state-mutual-aid-section" checked />
                <label class="usa-checkbox__label" for="state-territory">State/Territory</label>
              </div>
              <div class="usa-checkbox">
                <input class="usa-checkbox__input filter-checkbox" id="national" type="checkbox" name="national"
                  value="national" data-section-id="national-mutual-aid-section" checked />
                <label class="usa-checkbox__label" for="national">National</label>
              </div>
              <div class="contentRow">
                <input class="usa-button" type="submit" value="Apply" />
              </div>
            </section>
          </fieldset>
        </form>
      </li>
    </ul>
  </nav>
</aside>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    let checkboxStates = {};

    // Function to toggle visibility of sections
    function toggleSection(sectionId, isVisible) {
      let section = document.getElementById(sectionId);
      if (section) {
        section.style.display = isVisible ? 'block' : 'none';
      }
    }

    // Build state url
    function buildStateUrl(selectedState) {
      let pathname = window.location.pathname;
      let segments = pathname.split('/');
      let stateIndex = segments.indexOf('states');
      let basePath = segments.slice(0, stateIndex).join('/');
      let newUrl = basePath + '/states/' + selectedState + '/';
      return newUrl;
    }

    function updateSupportTypeMessage() {
      let publicPersonnelChecked = document.getElementById('public-personnel').checked;
      let privateCompaniesChecked = document.getElementById('private-companies').checked;

      let messageElement = document.getElementById('supportTypeMessage');
      if (!publicPersonnelChecked && !privateCompaniesChecked) {
        messageElement.style.display = 'block';
      } else {
        messageElement.style.display = 'none';
      }
    }

    function updateStateTerritoryCheckbox() {
      var publicPersonnelChecked = document.getElementById('public-personnel').checked;
      var privateCompaniesChecked = document.getElementById('private-companies').checked;
      var stateTerritoryCheckbox = document.getElementById('state-territory');

      if (publicPersonnelChecked || privateCompaniesChecked) {
        stateTerritoryCheckbox.checked = true;
        checkboxStates['state-mutual-aid-section'] = true;
      }

      // Update local storage with the new state
      localStorage.setItem('checkboxStates', JSON.stringify(checkboxStates));
    }

    // Initialize checkboxStates from local storage if available
    let storedCheckboxStates = localStorage.getItem('checkboxStates');
    if (storedCheckboxStates) {
      checkboxStates = JSON.parse(storedCheckboxStates);
    }

    document.querySelectorAll('.filter-checkbox').forEach(function (checkbox) {
      let sectionId = checkbox.getAttribute('data-section-id');
      checkbox.checked = checkboxStates.hasOwnProperty(sectionId) ? checkboxStates[sectionId] : checkbox.checked;

      checkbox.addEventListener('change', function () {
        checkboxStates[sectionId] = this.checked;
      });
    });

    document.getElementById('stateForm').addEventListener('submit', function(event) {
      event.preventDefault();
      let selectedState = document.getElementById('state').value;

      // Store the checkbox states in local storage
      localStorage.setItem('checkboxStates', JSON.stringify(checkboxStates));

      // Handle state change if a valid state is selected
      if (/^[A-Za-z]{2}$/.test(selectedState)) {
        let encodedState = encodeURIComponent(selectedState);
        window.location.href = buildStateUrl(encodedState);
      } else {
        console.error('Invalid state selected');
      }

      updateSupportTypeMessage();
      updateStateTerritoryCheckbox(); 
    });

    // Apply stored checkbox states to sections
    if (storedCheckboxStates) {
      for (let sectionId in checkboxStates) {
        let isVisible = checkboxStates[sectionId];
        toggleSection(sectionId, isVisible);
      }
    }

    // Function to extract state code from the URL path
    function getCurrentStateFromPath() {
      const pathSegments = window.location.pathname.split('/');
      const stateIndex = pathSegments.indexOf('states');
      if (stateIndex >= 0 && stateIndex < pathSegments.length - 1) {
        return pathSegments[stateIndex + 1];
      }
      return null;
    }

    const currentState = getCurrentStateFromPath();

    if (currentState) {
      const stateSelect = document.getElementById('state');
      stateSelect.value = currentState;
    }


    // Also call updateSupportTypeMessage when checkboxes change
    //document.getElementById('public-personnel').addEventListener('change', updateSupportTypeMessage);
    //document.getElementById('private-companies').addEventListener('change', updateSupportTypeMessage);

    // Initialize the message state on page load
    updateSupportTypeMessage();

  });
</script>