<footer class="usa-footer site-footer" role="contentinfo">
  <div class="footer-section-bottom">
    <div class="grid-container">
      <div class="grid-row padding-3">
        <div class="tablet:grid-col">
          <h4>Mutual aid SRC</h4>
          <ul class="add-list-reset">
            <li><a href="/accessibility" class="survey-processed">Accessibility</a></li>
            <li><a href="/about/reports-and-data/annual-reports" class="survey-processed">Accountability</a></li>
            <li><a href="/careers" class="survey-processed">Careers</a></li>
            <li><a href="/about/contact" class="survey-processed">Contact Us</a></li>
          </ul>
        </div>
        <div class="tablet:grid-col">
          <h4>FEMA resources</h4>
          <ul class="add-list-reset">
            <li><a href="/about/organization/equal-rights/no-fear-act" class="survey-processed">No FEAR Act</a></li>
            <li><a href="/foia" class="survey-processed">FOIA</a></li>
            <li><a href="/about/privacy-policy" class="survey-processed">Privacy</a></li>
          </ul>
        </div>
        <div class="tablet:grid-col last-column">
          <h4>Partner sites</h4>
          <ul class="add-list-reset">
            <li><a href="https://www.ready.gov/" target="_blank" class="survey-processed">Ready.gov</a></li>
            <li><a href="https://www.whitehouse.gov/" target="_blank" class="survey-processed">Whitehouse.gov</a></li>
            <li><a href="https://dhs.gov" target="_blank" class="survey-processed">DHS.gov</a></li>
            <li><a href="https://www.fema.gov/" target="_blank" class="survey-processed">FEMA.gov</a>
            <li><a href="https://usa.gov" target="_blank" class="survey-processed">USA.gov</a>
          </ul>
        </div>
        <div class="tablet:grid-col mobile:margin-top-2">
          <div class="logo-links">
            <a class="footer-logo media_link" href="{{ '/' | url }}">
              <div class="usa-logo">
                <img alt="10x Bring Mutual Aid logo" src="{{ '/assets/img/bm-logo.svg' | url }}" width="300" height="67">
              </div>
            </a>
          </div>
          <div class="font-body-3xs">
            DEMO website of the<br>
            <a style="color: white;" href="https://www.dhs.gov/">Department of Homeland Security</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
