<footer class="usa-footer site-footer" role="contentinfo">
  <div class="footer-section-bottom bg-base-lighter" style="background-color: #3D4551; color: white;">
    <div class="grid-container">
      <div class="grid-row padding-3">
        <div class="tablet:grid-col">
          <h5>Mutual aid SRC</h5>
          <ul class="add-list-reset">
            <li>Accessibility</li>
            <li>Accountability</li>
            <li>Careers</li>
            <li>Contact us</li>
          </ul>
        </div>
        <div class="tablet:grid-col">
          <h5>FEMA resources</h5>
          <ul class="add-list-reset">
            <li>No Fear Act data</li>
            <li>FOIA</li>
            <li>Privay policy</li>
          </ul>
        </div>
        <div class="tablet:grid-col">
          <h5>Partner sites</h4>
          <ul class="add-list-reset">
            <li>Ready.gov</li>
            <li>Whitehouse.gov</li>
            <li>DHS.gov</li>
            <li>FEMA.gov</li>
            <li>USA.gov</li>
          </ul>
        </div>
        <div class="tablet:grid-col">
          <div class="logo-links">
            <a class="footer-logo media_link" href="https://cloud.gov">
              {% image_with_class "./theme/img/logo-img.png" "Agency logo" %}
            </a>
          </div>
          <div style="font-size: smaller;">
            DEMO website of the<br>
            <a style="color: white;" href="https://www.dhs.gov/">Department of Homeland Security</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
