<footer class="usa-footer site-footer" role="contentinfo">
  <div class="footer-section-bottom">
    <div class="grid-container">
      <div class="grid-row padding-3">
        <div class="tablet:grid-col">
          <h4>Mutual aid SRC</h4>
          <ul class="add-list-reset">
            <li><a href="https://www.fema.gov/accessibility" class="usa-link usa-link--external survey-processed"
                target="_blank">Accessibility</a></li>
            <li><a href="https://www.fema.gov/about/reports-and-data/annual-reports"
                class="usa-link usa-link--external survey-processed" target="_blank">Accountability</a></li>
            <li><a href="https://www.fema.gov/careers" class="usa-link usa-link--external survey-processed"
                target="_blank">Careers</a></li>
            <li><a href="https://www.fema.gov/about/contact" class="usa-link usa-link--external survey-processed"
                target="_blank">Contact Us</a></li>
          </ul>
        </div>
        <div class="tablet:grid-col">
          <h4>FEMA resources</h4>
          <ul class="add-list-reset">
            <li><a href="https://www.fema.gov/about/organization/equal-rights/no-fear-act"
                class="usa-link usa-link--external survey-processed" target="_blank">No FEAR Act</a></li>
            <li><a href="https://www.fema.gov/foia" class="usa-link usa-link--external survey-processed"
                target="_blank">FOIA</a></li>
            <li><a href="https://www.fema.gov/about/privacy-policy" class="usa-link usa-link--external survey-processed"
                target="_blank">Privacy</a></li>
          </ul>
        </div>
        <div class="tablet:grid-col last-column">
          <h4>Partner sites</h4>
          <ul class="add-list-reset">
            <li><a href="https://www.ready.gov/" target="_blank" class="usa-link usa-link--external survey-processed"
                target="_blank">Ready.gov</a></li>
            <li><a href="https://www.whitehouse.gov/" target="_blank"
                class="usa-link usa-link--external survey-processed" target="_blank">Whitehouse.gov</a></li>
            <li><a href="https://dhs.gov" target="_blank" class="usa-link usa-link--external survey-processed"
                target="_blank">DHS.gov</a></li>
            <li><a href="https://www.fema.gov/" target="_blank" class="usa-link usa-link--external survey-processed"
                target="_blank">FEMA.gov</a>
            <li><a href="https://usa.gov" target="_blank" class="usa-link usa-link--external survey-processed"
                target="_blank">USA.gov</a>
          </ul>
        </div>
        <div class="tablet:grid-col mobile:margin-top-2">
          <div class="logo-links">
            <a class="footer-logo media_link" href="{{ '/' | url }}">
              <div class="usa-logo">
                <img alt="10x Bring Mutual Aid logo" src="{{ '/assets/images/bm-logo.svg' | url }}" width="300"
                  height="67">
              </div>
            </a>
          </div>
          <div class="font-body-3xs">
            DEMO website of the<br>
            <a class="usa-link usa-link--external" href="https://www.dhs.gov/" target="_blank">Department of Homeland
              Security</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>