{% comment %}
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}

<section class="usa-hero" style="text-align: center;">
  <div style="background-image: linear-gradient(rgb(0, 0, 0), rgba(255,0,0,0));"">
    <h1 class="ma-h2" style="color: white; padding: 40px 0 60px 0;">Your rebuilding journey starts here</h1>
    <div style="width: 360px; background-color: #565c65; padding: 15px; margin: auto; text-align: left;">
      Find mutual aid partners to help supplement your community's building department functions during post-disaster recovery.
    </div>
    <a class="usa-button" href="javascript:void(0)" style="margin: 50px 0 50px 0;">Find help now</a>

  </div>
</section>
