<section class="usa-hero" id="mutual-aid-search" aria-label="Introduction">
  <img fetchpriority="high" src="{{ '/assets/img/hero.webp' | url }}" alt="" width="0" height="0"
    style="display: none !important;" />
  <div class="grid-container">
    <div class="usa-hero__callout">
      <h1 class="usa-hero__heading margin-bottom-4">
        Find mutual aid resources to help your local building department
      </h1>
      <div class="grid-container">
        <form class="usa-form" id="stateForm">
          <fieldset class="usa-fieldset">
            <legend class="usa-legend margin-bottom-1">
              Enter your location to discover mutual aid resources available in your area to assist post-disaster
              rebuilding.
            </legend>

            <label class="usa-label" for="state">
              State or Territory
            </label>
            <div class="grid-row grid-gap-2">
              <span class="tablet:grid-col-8 mobile:grid-col-12 margin-bottom-2">
                <select class="usa-select" id="state" name="state" required>
                  <option value>- Select -</option>
                  {% for item in csvData.stantecMABD %}
                  <option value="{{ item.Abbr | slug }}">{{ item.Abbr }} - {{ item.State }}</option>
                  {% endfor %}
                </select>
              </span>
              <span class="tablet:grid-col-4 mobile:grid-col-12 desktop:text-right">
                <input class="usa-button" type="submit" value="View aid options" />
              </span>
            </div>

          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>

<script>
  var baseUrl = '{{ pathPrefix }}';

  document.getElementById('stateForm').addEventListener('submit', function (event) {
    event.preventDefault();
    var selectedState = document.getElementById('state').value;
    if (/^[A-Za-z]{2}$/.test(selectedState)) {
      var encodedState = encodeURIComponent(selectedState);
      window.location.href = baseUrl + 'states/' + encodedState + '/';
    } else {
      console.error('Invalid state selected');
    }
  });
</script>