<section class="usa-graphic-list home-highlights usa-section">
  <div class="grid-container">
    <h2 class="text-center font-family-serif">Benefits of mutual aid for rebuilding</h2>
    <ul class="usa-card-group grid-row grid-gap-2">
      <li class="usa-card tablet:grid-col-6 mobile:grid-col-12">
        <div class="usa-card__container">
          <div class="usa-card__header">
            <h3 class="usa-card__heading">Rapid Response</h3>
          </div>
          <div class="usa-card__media usa-card__media--inset">
            <div class="usa-card__img">
              <img src="{{ '/assets/images/rapid-response-icon.webp' | url }}" alt="" width="100" height="100" />
            </div>
          </div>
          <div class="usa-card__body">
            <p>
              Mutual aid allows communities to quickly mobilize additional qualified personnel to handle the surge in inspections and permit requests that typically occur after a disaster.
            </p>
          </div>
        </div>
      </li>
      <li class="usa-card tablet:grid-col-6 mobile:grid-col-12">
        <div class="usa-card__container">
          <div class="usa-card__header">
            <h3 class="usa-card__heading">Cost-Effective Solution</h3>
          </div>
          <div class="usa-card__media usa-card__media--inset">
            <div class="usa-card__img">
              <img src="{{ '/assets/images/cost-effective-icon.webp' | url }}" alt="" width="100" height="100" />
            </div>
          </div>
          <div class="usa-card__body">
            <p>
              Utilizing mutual aid is often more cost-effective than hiring temporary staff or contractors, as partnering jurisdictions typically only seek reimbursement for direct costs.
            </p>
          </div>
        </div>
      </li>
      <li class="usa-card tablet:grid-col-6 mobile:grid-col-12">
        <div class="usa-card__container">
          <div class="usa-card__header">
            <h3 class="usa-card__heading">Reduced Strain on Staff</h3>
          </div>
          <div class="usa-card__media usa-card__media--inset">
            <div class="usa-card__img">
              <img src="{{ '/assets/images/reduce-strain-icon.webp' | url }}" alt="" width="100" height="100" />
            </div>
          </div>
          <div class="usa-card__body">
            <p>
              By bringing in outside assistance, mutual aid prevents burnout of local staff who may be overwhelmed by increased workloads following a disaster.
            </p>
          </div>
        </div>
      </li>
      <li class="usa-card tablet:grid-col-6 mobile:grid-col-12">
        <div class="usa-card__container">
          <div class="usa-card__header">
            <h3 class="usa-card__heading">Consistency in Enforcement</h3>
          </div>
          <div class="usa-card__media usa-card__media--inset">
            <div class="usa-card__img">
              <img src="{{ '/assets/images/consistency-icon.webp' | url }}" alt="" width="100" height="100" />
            </div>
          </div>
          <div class="usa-card__body">
            <p>
              Mutual aid personnel are usually familiar with building codes and standards, helping ensure consistent and proper enforcement of regulations during rebuilding.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
<section class="usa-graphic-list home-examples usa-section">
  <div class="grid-container">
    <h2 class="font-family-serif">Examples of how communities can use mutual aid for post-disaster rebuilding</h2>
    <div class="grid-row row1">
      <div class="mobile:grid-col-12 tablet-lg:grid-col-5 home-example-image-container">
        <picture>
          <source media="(min-width: 40em)" srcset="{{ '/assets/images/home-nearby-mutual-aid.jpg' | url }}"/>
          <img class="home-example-image" src="{{ '/assets/images/home-nearby-mutual-aid.jpg' | url }}" alt="" width="0" height="0" fetchpriority="high"/>
        </picture>    
      </div>
      <div class="mobile:grid-col-12 tablet-lg:grid-col-7 home-example-content">
        <h3>Mutual aid from nearby counties helps residents assess hurricane damage quickly</h3>
        <p>After a severe hurricane, a mid-sized city finds its building department overwhelmed with inspection requests for damaged structures.</p>
        <p>The city activates its mutual aid agreement with neighboring counties, bringing in additional certified inspectors to help clear the backlog.</p>
        <p>This allows residents to quickly determine if their homes are safe to occupy and expedites the start of repair work, significantly reducing the time people spend in temporary housing.</p>
      </div>
    </div>
    <div class="grid-row row2">
      <div class="mobile:grid-col-12 tablet-lg:grid-col-5 home-example-image-container">
        <picture>
          <source media="(min-width: 40em)" srcset="{{ '/assets/images/home-state-assistance.jpg' | url }}"/>
          <img class="home-example-image" src="{{ '/assets/images/home-state-assistance.jpg' | url }}" alt="" width="0" height="0" fetchpriority="high"/>
        </picture> 
      </div>
      <div class="mobile:grid-col-12 tablet-lg:grid-col-7 home-example-content">
        <h3>State assistance helps small town recover after tornado damage</h3>
        <p>A small, rural town with limited resources is hit by a tornado, damaging numerous buildings.</p>
        <p>The town's single part-time building inspector is unable to handle the volume of work needed for rebuilding.</p>
        <p>Through a state-wide mutual aid program, the town receives assistance from building officials from larger cities, who help process permits and conduct inspections.</p>
        <p>This support ensures that rebuilding efforts comply with current safety standards and progress swiftly.</p>
      </div>
    </div>
    <div class="grid-row row3">
      <div class="mobile:grid-col-12 tablet-lg:grid-col-5 home-example-image-container">
        <picture>
          <source media="(min-width: 40em)" srcset="{{ '/assets/images/home-experts.jpg' | url }}"/>
          <img class="home-example-image" src="{{ '/assets/images/home-experts.jpg' | url }}" alt="" width="0" height="0"  fetchpriority="high"/>
        </picture>
      </div>
      <div class="mobile:grid-col-12 tablet-lg:grid-col-7 home-example-content">
        <h3>Experts from other states assist urban neighborhood after flood</h3>
        <p>In an underserved urban neighborhood, a flash flood damages many older homes and small businesses, overwhelming the already understaffed local building department that lacks expertise in flood-related repairs.</p>
        <p>Through a mutual aid agreement, the city brings in floodplain management experts and additional permit processors from other states to address the community's needs.</p>
        <p>This targeted assistance speeds up the recovery process and helps implement flood-resistant building practices, improving the neighborhood's long-term resilience.</p>
      </div>
    </div>
  </div>
</section>