{% comment %}
Use this section to highlight key elements of your site. Some
sites will only have two while others may have six to eight.
{% endcomment %}

<section class="usa-graphic-list usa-section usa-section--dark" style="padding-top: 20px;">
  <div class="grid-container">
    <h2 class="ma-h2" style="color: white;">How can mutual aid help?</h2>
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        {% image_with_class  "./node_modules/@uswds/uswds/dist/img/circle-124.png" "usa-media-block__img" "alt text" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Credentialed experts</h3>
          <p>
            Access organizations and individuals with needed certifications, licenses, and decades of post-disaster rebuilding experience. 
          </p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        {% image_with_class  "./node_modules/@uswds/uswds/dist/img/circle-124.png" "usa-media-block__img" "alt text" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Inspections & permits</h3>
          <p>
            Find certified personnel that can rapidly deploy to help your community inspect structures and issue building permits. 
          </p>
        </div>
      </div>
    </div>
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        {% image_with_class  "./node_modules/@uswds/uswds/dist/img/circle-124.png" "usa-media-block__img" "alt text" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">
            Building code knowledge
          </h3>
          <p>
            Get connected with experts that understand the most up-to-date building codes to ensure community safety and resiliency. 
          </p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        {% image_with_class  "./node_modules/@uswds/uswds/dist/img/circle-124.png" "usa-media-block__img" "alt text" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Navigating disaster recovery</h3>
          <p>
            Learn the process of applying for grants, loans, and other forms of assistance available to communities recovering from disasters.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
