<section class="usa-graphic-list home-highlights usa-section usa-section--dark">
  <div class="grid-container">
    <h2 class="font-family-serif">How can mutual aid help?</h2>
    <ul class="usa-card-group grid-row grid-gap">
      <li class="usa-card usa-card--flag desktop:grid-col-6 mobile:grid-col-12">
        <div class="usa-card__container card-1">
          <div class="usa-card__header">
            <h3 class="usa-card__heading">
              Credentialed experts
            </h3>
          </div>
          <div class="usa-card__media">
            <div class="usa-card__img">
              <img class="usa-media-block__img" src="{{ '/assets/img/experts.svg' | url }}" alt="" width="71" height="71" />
            </div>
          </div>
          <div class="usa-card__body">
            <p>Access organizations and individuals with needed certifications, licenses, and decades of post-disaster rebuilding experience. </p>
          </div>
          <div class="usa-card__footer">
            <a href="{{ '/posts/experts' | url }}" class="usa-button">Learn More <span class="usa-sr-only"> about how access organizations and individuals with needed credentials.</span> </a>
          </div>
        </div>
      </li>
      <li class="usa-card usa-card--flag desktop:grid-col-6 mobile:grid-col-12">
        <div class="usa-card__container card-2">
          <div class="usa-card__header">
            <h3 class="usa-card__heading">
              Inspections & permits
            </h3>
          </div>
          <div class="usa-card__media">
            <div class="usa-card__img">
              <img class="usa-media-block__img" src="{{ '/assets/img/inspections.svg' | url }}" alt="" width="92" height="92" />
            </div>
          </div>
          <div class="usa-card__body">
            <p> Find certified personnel that can rapidly deploy to help your community inspect structures and issue building permits. </p>
          </div>
          <div class="usa-card__footer">
            <a href="{{ '/posts/inspections' | url }}" class="usa-button">
              Learn More <span class="usa-sr-only"> about how to find certified personnel that can be rapidly deployed to help your community.</span> 
            </a>
          </div>
        </div>
      </li>
      <li class="usa-card usa-card--flag desktop:grid-col-6 mobile:grid-col-12">
        <div class="usa-card__container card-3">
          <div class="usa-card__header">
            <h3 class="usa-card__heading">
              Building code knowledge
            </h3>
          </div>
          <div class="usa-card__media">
            <div class="usa-card__img">
              <img class="usa-media-block__img" src="{{ '/assets/img/codes.svg' | url }}" alt="" width="87" height="87" />
            </div>
          </div>
          <div class="usa-card__body">
            <p>Get connected with experts that understand the most up-to-date building codes to ensure community safety and resiliency.</p>
          </div>
          <div class="usa-card__footer">
            <a href="{{ '/posts/codes' | url }}" class="usa-button">Learn More <span class="usa-sr-only"> about how to get connected with experts that understand the most up-to-date building codes.</span></a>
          </div>
        </div>
      </li>
      <li class="usa-card usa-card--flag desktop:grid-col-6 mobile:grid-col-12">
        <div class="usa-card__container card-4">
          <div class="usa-card__header">
            <h3 class="usa-card__heading">
              Navigating disaster recovery
            </h3>
          </div>
          <div class="usa-card__media">
            <div class="usa-card__img">
              <img class="usa-media-block__img" src="{{ '/assets/img/recovery.svg' | url }}" alt="" width="84" height="84" />
            </div>
          </div>
          <div class="usa-card__body">
            <p>Learn the process of applying for grants, loans, and other forms of assistance available to communities recovering from disasters.</p>
          </div>
          <div class="usa-card__footer">
            <a href="{{ '/posts/recovery' | url }}" class="usa-button">Learn More <span class="usa-sr-only"> about the process of applying for grants, loans, and other forms of assistance.</span></a>
          </div>
        </div>
      </li>
    </ul>  
  </div>
</section>