{% comment %} To modify the menu system, you are welcome to edit this HTML
directly or you can look inside _config.yml where we provide an easy way to
manage your navigation system {% endcomment %}

<header class="usa-header usa-header--basic">
  <div class="usa-nav-container">
    <div class="usa-navbar">
      <div class="usa-logo">
        <a href="{{ '/' | url }}">
          <div class="usa-logo" id="basic-logo">
            <img alt="10 x Bring Mutual Aid Home" src="{{ '/assets/img/bm-logo.svg' | url }}" width="300" height="67" />
          </div>
        </a>
      </div>
      <button type="button" class="usa-menu-btn">Menu</button>
    </div>
    <nav aria-label="Primary navigation" class="usa-nav">
      <button type="button" class="usa-nav__close">
        <img src="{{'/assets/uswds/img/usa-icons/close.svg' | url }}" role="img" alt="Close" width="24" height="24" fetchpriority="low" />
      </button>
      <ul class="usa-nav__primary usa-accordion">
        {% for nav_item in primary_navigation %}
        {% unless nav_item.children %}
        {% assign basedir = page.url %} 
        {% assign linkdir = nav_item.url %}

        <li class="usa-nav__primary-item test">
          <a class="usa-nav-link{% if basedir == linkdir %} usa-current{% endif %}" href="{{ nav_item.url | url }}">
            <span>{{ nav_item.name | escape }}</span>
          </a>
        </li>
        {% else %} {% assign nav_id = 'primary-nav-' | append: forloop.index %}
        <li class="usa-nav__primary-item">
          <button type="button" class="usa-accordion__button usa-nav__link usa-current" aria-expanded="false"
            aria-controls="{{ nav_id }}">
            <span>{{ nav_item.name | escape }}</span>
          </button>
          <ul id="{{ nav_id }}" class="usa-nav__submenu">
            {% for subnav_item in nav_item.children %}
            <li class="usa-nav__submenu-item">
              <a href="{{ subnav_item.url | url }}">
                <span>{{ subnav_item.name | escape }}</span>
              </a>
            </li>
            {% endfor %}
          </ul>
        </li>
        {% endunless %} {% endfor %}
      </ul>
    </nav>
  </div>
</header>