{% comment %} 
The sidenav is not loaded by default on the main pages. To include this navigation you can either use the
_layouts/page.html layout template, or you can add "sidenav: true" in the front-matter of your pages
{% endcomment %}

<aside class="usa-layout-docs-sidenav desktop:grid-col-3 padding-bottom-4">
  <nav>
    <ul class="usa-sidenav">
      <li class="usa-sidenav__item">
        <a href="/">Home</a>
      </li>
      <li class="usa-sidenav__item">
        <a href="/location/" class="usa-current">Assistance Questionnaire</a>
        <ul class="usa-sidenav__sublist">
          <li class="usa-sidenav__item">
            <a href="/location/">Location</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="/disaster-info/">Disaster info</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="">Results</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>