@use "uswds-core" as *;

html, 
body {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
}

img {
  height: auto;
}

.capitalize {
  text-transform: capitalize;
}

.custom-small-text {
  font-size: size('body', 1);
}

.custom-med-text {
  font-size: size('body', 7);
}

.custom-large-text {
  font-size: size('body', 8);
}

iframe:focus, 
[href]:focus, 
[tabindex]:focus, 
[contentEditable=true]:focus {
  outline: 1px auto  color('blue-40v');
  outline-offset: 0.3rem;
}

.usa-modal[tabindex]:focus {
  outline: none;
}

.usa-app {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.usa-banner,
.usa-header,
.usa-footer {
  flex-grow: 0;
  flex-shrink: 0;  
}

.usa-button {
  line-height: 1.1;
}

#main-content {
  flex-grow: 1;
}

.usa-header {
  background: color('gray-cool-70');

  + main {
    border-top: none;
  }
}

.usa-navbar,
.usa-menu-btn  {
  height: 3.75rem;
}

.usa-link {
  line-height: line-height('heading', 2);

  @include at-media(desktop) {
    line-height: line-height('heading', 5);
  }
}

.usa-list { 
  li {
    max-width: none;
  }
}

.usa-logo {
  margin-top: 0;

  a {
    color: white;

    img {
      max-width: 184px;
    }

    @include at-media(desktop) {
      img {
        max-width: 100%;
      }
    }   
  }
}

.usa-nav__primary {
  > .usa-nav__primary-item {
      margin: units(2) units(1);

    > a {
      color: white;
      font-weight: 400;
      padding: units(1) units(1);

      &:hover {
        text-decoration: underline;
        color: white;
      }

      &.usa-current {
        &:hover {
          text-decoration: none;
        }        
      }
    }
  }
}

.usa-header--basic .usa-nav__primary-item>.usa-current::after, 
.usa-header--basic .usa-nav__link:hover::after {
  background-color: white;
  left: 0.25rem;
  right: 0.25rem;
  width: 90%;
  height: units(2px);
}

.usa-hero {
  background: #005288;

  &>.grid-container {
    padding: 0;
  }
  
  h1 {
    color: white;
    font-weight: 400;
    font-size: size('body', 11);
    line-height: lh('heading', 4);
    margin-bottom: units(3);

    @include at-media(desktop) {
      font-size: size('heading', 12);
    }
  }

  .usa-hero__callout {
    max-width: 100%;
    padding: units(5);
    background: none;
    width: 100%;
    
    @include at-media(tablet-lg) {
      float: right;
      padding: units(5) 0;
      margin-right: units(5);
      width: 21.875rem;
    }

    @include at-media(desktop) {
      margin-right: units(10);   
    }

    p,
    li {
      font-family: font-family('serif');
    }

    .usa-list {
      margin-bottom: units(3);

      li {
        margin-bottom: units(2.5);
      }
    }

    .usa-form {
      max-width: 100%;
      padding: units(3);
      background: #c0c2c4;
      color: black;
      margin-bottom: units(3);

      .usa-legend {
        font-size: size('body', 8);
        font-family: font-family('serif');
        max-width: 100%;
      }

      .usa-button {
        border-radius: 0;
        border: 1px solid white;
        background: color('green-60v');
        font-weight: 400;
        font-size: size('body', 8);
        line-height: line-height('body', 2);
        padding: units(1.5);    
        text-align: center;
        background: color('green-60v'); 
        width: 100%;
        margin: 0;
      }
    }

    select {
      padding: units(1.5);
      height: auto;
      line-height: line-height('body', 3);
    }

    label {
      margin-bottom: units(1);
      margin-top: units(1);
    }
  }

  .hero-image,
  .hero-text-form {
    width: 100%;
  }

  .hero-text-form {
    @include at-media(tablet-lg) {
      width: 53.5%;
    }
    
    @include at-media(desktop) {
      width: 50.9%;
    }
  } 

  .hero-image {
    background: none;
    
    @include at-media(tablet-lg) {
      background: url($theme-hero-image) left top no-repeat;
      background-size: cover;
      width: 46.5%;
    }
    
    @include at-media(desktop) {
      width: 49.1%;
    }
  }
}

.homepage-container {
  p, 
  li {
    font-size: size('body', 4);
  }

  .usa-section {
    padding-top: units(6);
    padding-bottom: units(6);
  }

  .home-highlights {

    &.usa-section {
      padding-bottom: 0;
    }

    h2 {
      font-size: size('body', 12);
      font-weight: 600;
      text-align: center;
      margin-top: 0px;
      margin-bottom: units(1);
      color: #005288;
    }
  
    .grid-container {
      max-width: units('tablet-lg');
    }
  
    .usa-card {
      margin-bottom: units(0.5);
    }
  
    .usa-card__container {
      color: black;
      min-height: 206px;
      border-color: white;
      margin-left: 0;
      margin-right: 0;
  
      a,
      p,
      h3 {
        color: black;
      }
  
      h3 {
        font-family: font-family('sans');
        font-size: size('body', 10);
        font-weight: font-weight('semibold');
        text-align: center; 
      }
  
      .usa-card__header, 
      .usa-card__body, 
      .usa-card__footer {
        margin-left: 0;
      }

      .usa-card__body {
        padding-bottom: 0;
      }
  
      .usa-card__img {
        background: none;
        padding: units(2);
    
        img {
          height: auto;
          -o-object-fit: unset;
          object-fit: unset;
          max-width: none;
          width: 100px;
          height: 100px;
          margin: 0 auto;
        }
      }
    
      .usa-card__media {
        z-index: 4;
      }
  
      .usa-card__header {
        padding-top: 0;
        padding-bottom: units(2); 
      }
  
      .usa-card__body {
        ul {
          list-style: disc;
          padding-left: units(2);
  
          li {
            margin-bottom: units(2);
          }
        }
      }
    
      .usa-card__footer {
        position: relative;
        z-index: 5;
        margin: 0;
        text-align: center;
        padding-top: units(2);
    
        .usa-button {
          color: white;
          background: color('blue-cool-50');
          font-weight: 400;
          padding: units(2);
          border-radius: 0;
        }
      }
    }
  }

  .home-examples {

    &.usa-section {
      padding-top: 0;
    }

    h2 {
      font-size: size('body', 12);
      font-weight: 400;
      color: black;
      background: #c0c2c4;
      padding: units(5);

      @include at-media(tablet-lg) {
        padding: units(6) 5.5rem;
      } 
    }

    .grid-container {
      max-width: units('desktop');
      padding: 0;

      @include at-media(tablet-lg) {
        padding: units(2);
      } 
    }
    
    .grid-row {
      margin-bottom: units(5);

      .home-example-image-container {

        .home-example-image {
          display: block;
          width: 100%;
          height: auto;

          @include at-media(tablet-lg) {
            display: none;
           }
        }

        @include at-media(tablet-lg) {
         width: 47.178%;
        }
      }

      .home-example-content {
        color: white;
        padding: units(5);

        h3 {
          margin-top: 0;
        }

        @include at-media(tablet-lg) {
          width: 52.822%;
         }     
      }

      &.row1 {
        .home-example-image-container {
          background: url('../images/home-nearby-mutual-aid.jpg') center top no-repeat;
          background-size: cover; 
        }

        .home-example-content {
          background: #005288;
        }
      }

      &.row2 {
        .home-example-image-container {
          background: url('../images/home-state-assistance.jpg') center top no-repeat;
          background-size: cover; 
        }

        .home-example-content {
          background: #003e67;
        }
      }

      &.row3 {
        margin-bottom: 0;

        .home-example-image-container {
          background: url('../images/home-experts.jpg') center top no-repeat;
          background-size: cover; 
        }

        .home-example-content {
          background: #002b47;
        }
      }

    }
  }
}

.state-results-page {

  h1, h2, h3 {
    font-weight: 600;
  }

  h2 {
    font-size: size('body', 10);
    color: color('blue-60v');
  }

  h3 {
    font-size: font-size('body', 8);
  }

  h4 {
    font-size: font-size('body', 5);
    font-weight: 400;
    margin-bottom: units(1);
  }

  .grid-container {
    max-width: units('desktop');
  }

  .usa-alert {
    .usa-alert__heading {
      color: black;
    }

    .usa-alert__body {
      padding-top: units(3);

      &:before {
        top: units(2.5);
      }
    }

    .usa-alert__text {
      margin-top: units(2);
      margin-bottom: units(2);

      .grid-col-10 {
        width: 100%;
      }

      @include at-media(desktop) {
        width: 83.3333333333%;
      }
    }
  }

  .usa-link {
    color: #025197;
    font-weight: font-weight('semibold');
  }

  .contentRow {
    .grid-container {
      padding-left: units(5);
    }
  }

  .usa-list {
    margin: units(1) units(3) units(2);

    li {
      margin-bottom: units(1.5);
      max-width: 100%;
    }
  }

  .disclaimer-button {
    font-weight: 700;
    line-height: line-height('body', 2);
    margin-top: units(2);

    @include at-media(desktop) {
      margin-top: 0;
    }
  }

  section {
    border-bottom: units(2px) solid color('gray-30');
  }

  .usa-section {
    padding-top: units(4);
    padding-bottom: 0;
    margin-top: 0;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      border: none;
    }
  }

  .usa-table {
    th[scope=row] {
      background: white;
    }

    th,
    td {
      padding: units(2);
    }
  }

  .usa-form {
    max-width: 100%;
    background: color('gray-warm-5');

    .usa-legend {
      width: 100%;
      max-width: 100%;
      border-bottom: units(2px) solid color('gray-30');
      padding-bottom: units(1);

      svg,
      span {
        vertical-align: top;
        font-size: size('body', 7);
      }
    }

    .location-section .usa-label,
    .site-preview-heading {
      font-weight: 600;
    }

    p {
      margin-top: units(3);
    }

    .usa-checkbox {
      background: none;
    }

    .usa-button {
      width: 100%;
    }
  }

  .information-section {
    padding-bottom: units(2);
    background: #edeeee;

    h3 {
      font-weight: normal;
      margin-top: 0;
      padding: units(2) units(4);
      color: white;
      border-bottom: units(0.5) solid white;
    }

   p {
      padding: 0 units(3);
    }

    .image-block {
      text-align: center;

      @include at-media(tablet) {
        text-align: left;
      }  
    }

    img {
      width: 200px;
      height: auto;
      filter: brightness(0) saturate(100%) invert(99%) sepia(6%) saturate(82%) hue-rotate(102deg) brightness(115%) contrast(100%);

      @include at-media(tablet) {
        width: 88px;    
      }  
    }
  }

  .state-mutual-aid {

    h3 {
      background: #005288;
    }

    .intro-content-block {
      padding-top: units(3);
    }
  }

  .federal-mutual-aid {

    h3 {
      background: #314F1A;
    }

    .intro-content-block {
      padding-top: units(1.5);
    }
  }

  .mutual-aid-contacts {
    .contact-information {
      margin-bottom: units(4);

      h3 {
        background: #d1d1d2;
        color: color('gray-80');
        margin: 0;
        padding: units(2) units(4);
        font-size: size('body', 10);
        border-bottom: units(0.5) solid white;
      }

      h4 {
        font-size: size('body', 8);
        font-weight: font-weight('semibold');
        margin: 0 0 units(3);

      }

      .left-column {
        background: #edeeee;

        @include at-media(tablet) {
          border-right: units(0.5) solid white;
        }
      }

      .right-column {
        color: white;

        .usa-link {
          color: white;
        }
      }

      .content-column {
        padding: units(4);
        border-bottom: units(0.5) solid white;
      }

      #county-regional-networks {
        .right-column {
          background: #3d7ca5;
        }        
      }

      #state-emergency-management {
        .right-column {
          background: #005288;
        }        
      }

      #state-hazard-mitigation-officer {
        .right-column {
          background: #003E67;
        }        
      }

      #state-floodplain-coord {
        .right-column {
          background: #002b47;
        }        
      }

      .usa-list {
        margin: 0;

        li {
          font-size: size('body', 3);
        }
      }
    }
  }

  .other-contacts {
    .contact-information {
      background: #edeeee;

      h3 {
        background: #5a5b5d;
        color: white;
      }

      h4 {
        font-size: size('body', 5);
        font-weight: font-weight('semibold');
        margin-bottom: units(0.5);

        &.contact-info-header {
          margin-bottom: units(2);
        }
      }

      .contentRow {
        padding: units(4);

      }

      .addressBlock {
        margin-bottom: 0;

        .content-column {
          padding: units(3);
          background: #cfd1d2;
          border: none;
        }

        .nameText {
          font-size: size('body', 8);
          font-weight: font-weight('semibold');
        }
      }
    }
  }

  .top-button-wrapper {
    .usa-button {
      font-weight: normal;
      padding: units(2);

      @include at-media(desktop) {
        margin-top: 0;
        padding: units(1.5) units(2);
      }    
    }
  }

  .addressBlock {
    margin-bottom: units(5);

    .nameText {
      font-size: size('body',10);
      font-weight: font-weight('semibold');
    }
  }
}

.static-page {
  h1 {
    font-size: size('body', 10);
    font-weight: 600;
    font-family: font-family('serif');
    color: color('blue-60v');
    margin-top: units(1);
    margin-bottom: units(4);
    
    @include at-media(desktop) {
      font-size: size('body', 12);
    }
  }

  .grid-container {
    max-width: units('desktop');
  }
}

.contact-page {
  h3 {
    font-size: size('body', 7);
  }

  h4 {
    font-size: size('body', 6);
  }
  
  .contentRow {
    border-bottom: 1px solid #cfe2f0;

    &:last-child {
      border-bottom: none;
    }
  }

}

.jump-to-section {

  p {
    margin-bottom: 0;
  }

  .usa-list {
    margin: 0 units(3) units(5) 0;

    li {
      margin-bottom: 0;
    }
  }
}

.resources-page {
  h1,
  h2 {
    font-size: size('body', 12);
  }

  .usa-section {
    h2 {
      padding: units(2) units(2) units(2) units(10);
      color: white;
      font-size: size('body', 10);
      line-height: 1.3em;

      @include at-media(tablet-lg) {
        font-size: size('body', 12);
        padding: units(3) units(3) units(3) 6.25rem;
      } 
    }

    blockquote {
      margin-left: 0;
      padding-left: 0.625rem;
    }

    &.immediate-response {
      h2 {
        background: #0078ae url('../images/immediate-response-icon.svg') units(2) center no-repeat;
        background-size: 3.125rem 3.125rem;

        @include at-media(tablet-lg) {
          background-position: units(2.5) units(2.5);
          background-size: 3.75rem 3.75rem;
        } 
      }
      
      blockquote {
        border-left: units(2) solid #0078ae;

        @include at-media(tablet-lg) {
          border-left: units(2.5) solid #0078ae;
        } 
      }
    }

    &.funding-and-reimbursement {
      h2 {
        background: #5e9732 url('../images/funding-reimbursement-icon.svg') units(2) center no-repeat;
        background-size: 3.125rem 3.125rem;

        @include at-media(tablet-lg) {
          background-position: units(2.5) units(2.5);
          background-size: 3.75rem 3.75rem;
        } 
      }

      blockquote {
        border-left: units(2) solid #5e9732;

        @include at-media(tablet-lg) {
          border-left: units(2.5) solid #5e9732;
        } 
      }
    }

    &.disaster-response-planning {
      h2 {
        background: #005288 url('../images/disaster-response-plan-icon.svg') units(2) center no-repeat;
        background-size: 3.125rem 3.125rem;

        @include at-media(tablet-lg) {
          background-position: units(2.5) units(2.5);
          background-size: 3.75rem 3.75rem;
        } 
      }

      blockquote {
        border-left: units(2) solid #005288;

        @include at-media(tablet-lg) {
          border-left: units(2.5) solid #005288;
        } 
      }
    }

    &.professional-organizations {
      h2 {
        background: #5a5b5d url('../images/professional-org-icon.svg') units(2) center no-repeat;
        background-size: 3.125rem 3.125rem;

        @include at-media(tablet-lg) {
          background-position: units(2.5) units(2.5);
          background-size: 3.75rem 3.75rem;
        } 
      }

      blockquote {
        border-left: units(2) solid #5a5b5d;

        @include at-media(tablet-lg) {
          border-left: units(2.5) solid #5a5b5d;
        } 
      }
    }
  }

  h3 {
    font-family: font-family('serif');
    font-size: size('body', 8);
    margin-top: units(4);
    margin-bottom: 0;

    .usa-link {
      text-decoration: none;
    }
  }

  p {
    margin-top: units(1);
    margin-bottom: units(2.5);
  }

  .usa-section {
    padding: 0 0 units(1);
    border-bottom: units(1px) solid color('gray-30');
  }

  .usa-button {
    &.to-top {
      font-weight: 400;
    }
  }

  .jump-to-section {

    .usa-list {
      margin: 0 0 units(3);
      min-width: units('mobile');

      li {
        width: 48%;
        height: auto;
        margin-bottom: units(3);

        @include at-media(tablet-lg) {
          width: 12.5rem;
          height: 12.5rem;
        } 
      }
    }

    .usa-link {
      display: block;
      padding: units(2);
      text-align: center;
      color: white;
      font-size: size('body', 5);
      font-weight: 600;
      text-decoration: none;
      width: 100%;
      height: 100%;

      @include at-media(tablet-lg) {
        padding: units(3);
        font-size: size('body', 7);
      } 

      &.immediate-response {
        background: #0078ae;
      }

      &.funding-and-reimbursement {
        background: #5e9732;
      }

      &.disaster-response-planning {
        background: #005288;
      }

      &.professional-organizations {
        background: #5a5b5d;
      }

      span {
        display: block;
        line-height: 1.1em;
      }
    }
  }
}

.faq-page {
  .usa-in-page-nav {
    order: unset;
    margin-left: 0;
    margin-top: 0;
    margin-right: 2rem;
  }
}

.usa-footer {
  background: color('gray-cool-70');
  color: white;
  flex-shrink: 0;
  font-size: size('body', 5);

  h4 {
    font-size: size('heading', 5);
  }

  ul {
    li {
      a {
        color: white;
      }
    }
  }

  .usa-link,
  .usa-link:visited,
  .usa-link:active {
    color: white;
  }

  .last-column {
    margin-bottom: units(2);
  }

  .usa-logo {
    margin-top: units(2);
  }

}

/* Keep these styles at the bottom */

.usa-modal {
  max-width: 50rem;
}

.usa-modal-wrapper {
  text-align: center;
  transition: opacity $project-easing;

  // Using visibility: hidden instead of display: none because
  // of iOS VoiceOver issue:
  // https://developer.paciellogroup.com/blog/2018/06/the-current-state-of-modal-dialog-accessibility/
  &.is-hidden {
    visibility: hidden;
    opacity: opacity(0);
    position: fixed;
  }

  &.is-visible {
    visibility: visible;
    opacity: opacity(100);
    position: fixed;
    z-index: z-index("top");
  }
}

.usa-modal-overlay {
  background: color("black-transparent-70");
  bottom: 0;
  height: 100%;
  left: 0;
  overflow: scroll;
  overflow-x: hidden;
  padding: units(3);
  position: fixed;
  scroll-behavior: smooth;
  top: 0;
  width: 100%;

  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  &[data-force-action="true"] {
    pointer-events: none;

    * {
      pointer-events: auto;
    }
  }
}

.ma-h2 {
  font-family: Merriweather Web, Georgia, Cambria, Times New Roman, Times, serif;
  font-weight: normal;
  text-align: center;
  margin-top: 0px;
  font-size: 30pt;
}