---
layout: layouts/default
---

<div class="usa-section {{ className }} padding-top-2">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <main class="grid-col-12 usa-prose" id="main-content">
        {% include "breadcrumb.html" %}
        <h1 class="title">Contact</h1>
        <div class="usa-alert usa-alert--error" role="alert">
          <div class="usa-alert__body">
            <h2 class="usa-alert__heading">Emergency help</h2>
            <p>If you need emergency help with an active disaster event, please dial 9-1-1.</p>
            <p>Visit FEMA's <a class="usa-link usa-link--external" href="https://www.fema.gov/disaster/current"
                target="_blank">Current Disasters page</a> for information about recent disasters.</p>
          </div>
        </div>
        <div class="contentRow">
          <h3 class="margin-top-3">Please contact us regarding:</h3>
          <ul class="usa-list">
            <li>Feedback or comments based on your experience using this website</li>
            <li>Questions about having an organization added to the site’s mutual aid resource results</li>
            <li>Issues, problems, or concerns you have using this website</li>
          </ul>
          <p>Contact the web support team for the Mutual Aid Second Responder Community portal by emailing us at <a
              href="mailto:PlaceholderEmail@FEMA.gov">PlaceholderEmail@FEMA.gov</a>.</p>
        </div>
        <div class="contentRow">
          <h3>Other disaster recovery needs</h3>
          <p>If you are interested in other disaster recovery resources outside of mutual aid for building departments, 
            FEMA offers a variety of tools and programs to assist in the recovery process. </p>
          <p>Whether you need financial assistance, legal aid, or guidance on managing long-term recovery, FEMA provides
            comprehensive support to help you rebuild and recover. Below are some key resources and contact points to
            get you started:</p>
          <ul class="usa-list">
            <li><a class="usa-link usa-link--external" href="https://www.disasterassistance.gov/"
                target="_blank">DisasterAssistance.gov:</a> Apply for individual disaster assistance and track your
              application status.</li>
            <li><a class="usa-link" href="tel:%208006213362">FEMA Helpline:</a> Call <a
                href="tel:%208006213362">1-800-621-3362</a> for general questions about disaster assistance.</li>
            <li><a class="usa-link usa-link--external"
                href="https://www.fema.gov/emergency-managers/practitioners/recovery-resources/community-toolkit"
                target="_blank">Community Recovery Management Toolkit:</a> Access resources to help manage long-term
              recovery.</li>
            <li><a class="usa-link usa-link--external"
                href="https://www.fema.gov/emergency-managers/practitioners/recovery-resilience-resource-library"
                target="_blank">Recovery and Resilience Resource Library:</a> Find and research federal disaster
              recovery resources.</li>
          </ul>
        </div>

      </main>
    </div>
  </div>
</div>