---
layout: layouts/default
---

<div class="usa-section {{ className }} padding-top-2">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <main class="grid-col-12 usa-prose" id="main-content">
        {% include "breadcrumb.html" %}
        <h1 class="title">{{title}}</h1>
        {% include "disclaimer.html" %}
        <div class="contentRow margin-top-1">
          <h3>
            <a
            class="usa-link usa-link--external"
            rel="noreferrer"
            target="_blank"
            href="https://www.floods.org/"
            >
            Association of State Floodplain Managers (ASFPM)
            </a
          >    
          </h3>
          <p>
            The Association of State Floodplain Managers is a 501(c)(3) scientific and educational nonprofit organization dedicated to reducing flood loss in the nation.
          </p>
  
          <h3>
            <a
            class="usa-link usa-link--external"
            rel="noreferrer"
            target="_blank"
            href="https://www.fema.gov/emergency-managers/risk-management/building-science/bcat/fact-sheets"
            >
            Building Code Adoption Tracking (BCAT) & Mutual Aid for Building Departments Fact Sheets
            </a
          >    
          </h3>
          <p>
            The annual Building Code Adoption Tracking (BCAT) fact sheets provide an overview of the building code adoption status within each state and territory, organized by FEMA region.
          </p>
  
          <h3>
            <a
            class="usa-link usa-link--external"
            rel="noreferrer"
            target="_blank"
            href="https://www.fema.gov/grants/mitigation/building-resilient-infrastructure-communities"
            >
            Building Resilient Infrastructure and Communities (BRIC) 
            </a
          >    
          </h3>
          <p>
            BRIC supports states, local governments, tribes and territories as they work to reduce their hazard risk.    
          </p>

          <h3>
            <a
            class="usa-link usa-link--external"
            rel="noreferrer"
            target="_blank"
            href="https://www.floods.org/resource-center/disaster-assistance-response-team/"
            >
            Disaster Assistance Response Team (DART)
            </a
          >    
          </h3>
          <p>
            The purpose of a Disaster Assistance Response Team (DART) is to assist communities handle floodplain management responsibilities after a natural disaster.
          </p>
          

          <h3>
            <a
            class="usa-link usa-link--external"
            rel="noreferrer"
            target="_blank"
            href="https://www.disasterresponse.org/"
            >
            Disaster Response Alliance (DRA)
            </a
          >    
          </h3>
          <p>
            The Disaster Response Alliance's mission is to assist local, state and federal entities with easy access to a single, national database of skilled volunteers willing to assist with response and recovery activities, including post-disaster safety assessments, building damage assessments, inspections and other code-related functions in the aftermath of a disaster.
          </p>
          
          <h3>
            <a
            class="usa-link usa-link--external"
            rel="noreferrer"
            target="_blank"
            href="https://www.emacweb.org/index.php/learn-about-emac/what-is-emac"
            >
            Emergency Management Assistance Compact (EMAC)
            </a
          >    
          </h3>
          <p>
            EMAC offers assistance during governor-declared states of emergency or disaster through a responsive, straightforward system that allows states to send personnel, equipment, and commodities to assist with response and recovery efforts in other states.
          </p>
          
          <h3>
            <a
            class="usa-link usa-link--external"
            rel="noreferrer"
            target="_blank"
            href="https://flash.org/"
            >
            Federal Alliance for Safe Homes (FLASH)
            </a
          >    
          </h3>
          <p>
            The Federal Alliance for Safe Homes (FLASH) — a 501(c)(3) nonprofit organization — is the leading consumer advocate for strengthening homes and safeguarding families from natural and manmade disasters.
          </p>

          <h3>
            <a
            class="usa-link usa-link--external"
            rel="noreferrer"
            target="_blank"
            href="https://www.iccsafe.org/"
            >
            International Code Council (ICC)
            </a
          >    
          </h3>
          <p>
            The International Code Council is the leading global source of model codes and standards and building safety solutions that include product evaluation, accreditation, technology, training, and certification.
          </p>

          <h3>
            <a
            class="usa-link usa-link--external"
            rel="noreferrer"
            target="_blank"
            href="https://www.emacweb.org/index.php/learn/mission-ready-packages"
            >
            Mission Ready Packages (MRP)
            </a
          >    
          </h3>
          <p>
            A Mission Ready Package or MRP is everything you need to conduct a mission (personnel, equipment, commodities, travel, lodging, meals and more) identified in a single file with their associated costs.
          </p>

          <h3>
            <a
            class="usa-link usa-link--external"
            rel="noreferrer"
            target="_blank"
            href="https://nemaweb.org/"
            >
            National Emergency Management Association (NEMA)
            </a
          >    
          </h3>
          <p>
            The National Emergency Management Association (NEMA) is a nonpartisan, nonprofit 501(c)(3) association dedicated to enhancing public safety by improving the nation's ability to prepare for, respond to, and recover from all emergencies, disasters, and threats to our nation's security.
          </p>

          {{ content }}
        </div>
      </main>
    </div>
  </div>
</div>
